*
{
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    margin: 0;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    
}


html a, body a{
    text-decoration: none;
    transition: 0.3s ease-out all;
}

p i{
    color: #a6c4ff;
}
html p a:focus, body p a:focus{
    outline: none;
}
html p a::after, body p a::after{
    content: "";
    position: relative;
    width: 0;
    height: 1px;
    z-index: 100;
    background-color: cyan;
    transition: 0.3s ease-out all;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}
html p a:hover, body p a:hover{
    cursor: help;
    text-decoration: underline;
}
html p a:hover::after, body p a:hover::after{
    width: 50px;
}

div{
    background-color: rgba(0, 0, 0, 0);
}

.dpd-Button{
    background-color: #61c06400;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.dpd{
    position: relative;
    display: inline-block;
}
.dpd-cont{
    min-width: 160px;
    /* background-color: rgb(69, 69, 99); */
    background-color: rgba(0, 0, 0, 0.325);
    visibility: hidden;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dpd-cont li{
    background-color: rgba(0, 0, 0, 0.325);
    cursor: pointer;
    padding: 10px 16px;
    display: block;
}
.dpd-cont li:hover{
    /* background-color: rgb(64, 64, 88); */
    background-color: rgba(120, 120, 120, 0.325);
    transition: 0.2s;
}
.dpd:hover .dpd-cont{
    display: block;
}


.content{
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 30px;
    align-items: flex-end;
}


.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


h2{
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 2px;
}
h2 span{
    font-size: 0.8em;
    font-weight: 400;
    color: #049be0;
    letter-spacing: 0.5;
}


.socia_ic{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.socia_ic li{
    list-style: none;
    margin: 4px;
}
.socia_ic li a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    transition: 0.5s;
}
.socia_ic li a:hover{
    transform: rotate(360deg);
}

/* IMAGENS E GIFS */


.allImages{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgEnemy1{
    background-color: rgba(0, 0, 0, 0);
    animation: bodyShadow 9.5s linear;
}
.imgEnemy2{
    background-color: rgba(0, 0, 0, 0);
    animation: bodyShadow 9.5s linear;
}
.imgSpaceship3{
    background-color: rgba(0, 0, 0, 0);
    animation: bodyShadow 9.5s linear;
    top: 1px;
}


.imgError{
    position: absolute;
    animation: error 8.3s forwards;
}

.loading{
    position: absolute;
    animation: fade 7.3s  0s forwards;
}

.bodyShadowelement{
    animation: bodyShadow 9.5s linear;
}


@keyframes bodyShadow{
    0%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes fade{
    0%{
        overflow: hidden;
        opacity: 100%;
        z-index: 500;
        
    }
    100%{
        overflow: hidden;
        visibility: hidden;
        opacity: 100%;
        z-index: -1;
    }
}
@keyframes error{
    0%{
        visibility: hidden;
        z-index: -1;
    }
    5%{
        visibility: hidden;
        z-index: -1; 
    }10%{
        visibility: hidden;
        z-index: -1;
    }15%{
        visibility: hidden;
        z-index: -1;
    }20%{
        visibility: hidden;
        z-index: -1;
    }35%{
        visibility: hidden;
        z-index: -1;
    }40%{
        visibility: hidden;
        z-index: -1;
    }45%{
        visibility: hidden;
        z-index: -1;
    }50%{
        visibility: hidden;
        z-index: -1;
    }55%{
        visibility: hidden;
        z-index: -1;
    }60%{
        visibility: hidden;
        z-index: -1;
    }65%{
        visibility: hidden;
        z-index: -1;
    }70%{
        visibility: hidden;
        z-index: -1;
    }75%{
        visibility: hidden;
        z-index: -1;
    }80%{
        visibility: hidden;
        z-index: -1;
    }85%{
        visibility: hidden;
        z-index: -1;
    }90%{
        visibility: visible;
        z-index: 1;
        overflow: hidden
    }
    95%{
        visibility: visible;
        z-index: 1;
        overflow: hidden
    }
    100%{
        visibility: hidden;
        z-index: -1;
    }
}

/* IMAGENS E GIFS */